<pageheader pagename="addphysician"></pageheader>

<div class="conter-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Add or Update a Physician
                        <div class="panel-control pull-right">
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="updatePhysicianForm" role="form" ng-submit="createPhysician(physician)">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control underline" id="firstName" name="firstName" ng-model="physician.firstName"
                                   placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control underline" id="lastName" name="lastName" ng-model="physician.lastName"
                                   placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control underline" id="email" ng-model="physician.email"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="input-medium bfh-phone" id="phoneNumber" ng-model="physician.phoneNumber"data-country="US" placeholder="Enter phone">
                        </div>
                        <div class="form-group">
                            <label for="physicianStreet1">Street 1</label>
                            <input type="text" class="form-control underline" id="physicianStreet1" ng-model="physician.officeAddress.street1"
                                   placeholder="Enter street address or P.O. box">
                        </div>
                        <div class="form-group">
                            <label for="physicianStreet2">Street 2</label>
                            <input type="text" class="form-control underline" id="physicianStreet2" ng-model="physician.officeAddress.street2"
                                   placeholder="Enter apartment, suite, or unit">
                        </div>
                        <div class="form-group">
                            <label for="physicianCity">City</label>
                            <input type="text" class="form-control underline" id="physicianCity" ng-model="physician.officeAddress.city"
                                   placeholder="Enter city">
                        </div>
                        <div class="form-group">
                            <label for="physicianState">State</label>
                            <input type="text" class="form-control underline" id="physicianState" ng-model="physician.officeAddress.state"
                                   placeholder="Enter State">

                        </div>
                        <div class="form-group">
                            <label for="physicianZipCode">Zip Code</label>
                            <input type="text" class="form-control underline" id="physicianZipCode" ng-model="physician.officeAddress.zipCode"
                                   placeholder="Enter Zip Code">

                        </div>
                        <div class="form-group">
                            <label for="patients">Patients</label>
                            <select multiple ng-options="member as member.person.name for member in members track by member.person.id" ng-model="physician.patients" id="patients"></select>
                        </div>




                        <button type="submit" class="btn btn-info btn-rounded">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
