<div class="conter-wrapper home-container">


    <div class="row home-row">

        <!--Group Panel-->
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Group
                        <div class="panel-control pull-right"></div>
                    </h3>
                </div>

                <div class="panel-body">
                    <form name="newMemberForm" role="form" ng-submit="createPerson(newMember)">
                        <div class="form-content">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date Added</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="member in groupData.members" ui-sref="person({personId: person.id})">
                                    <td>{{member.person.firstName}}</td>
                                    <td>{{member.person.lastName}}</td>
                                    <td>{{member.dateAdded}}</td>
                                </tr>
                                <tr ng-show="view.addPersonShow">
                                    <td><input type="text" size="10" name="firstName"
                                               ng-model="newMember.person.firstName"
                                               placeholder=" {{ 'First Name' | translate }}"></td>
                                    <td><input type="text" size=10 name="lastName" id="lastName"
                                               ng-model="newMember.person.lastName"
                                               placeholder="{{ 'Last Name' | translate }}"></td>
                                    <td>
                                        <button type="submit">+</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <button ng-show="!view.addPersonShow" type="button" class="btn btn-info btn-rounded"
                            ng-click="toggleAddPersonShow()">Add a person
                    </button>
                    <button ng-show="view.addPersonShow" type="button" class="btn btn-info btn-rounded"
                            ng-click="toggleAddPersonShow()">Cancel
                    </button>

                </div>
            </div>
        </div>
        <!-- end person panel -->

        <!--Physician Panel-->
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Physicians
                        <div class="panel-control pull-right"></div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="newPhysicianForm" role="form" ng-submit="createPhysician(physician)">
                        <div class="form-content">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Practice</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="physician in physicians" ui-sref="physician({physicianId: physician.id})">
                                    <td>{{physician.firstName}}</td>
                                    <td>{{physician.lastName}}</td>
                                    <td>{{physician.practice}}</td>
                                </tr>
                                <tr ng-show="view.addPhysicianShow">
                                    <td><input type="text" size="10" name="firstName"
                                               ng-model="physician.firstName"
                                               placeholder=" {{ 'First Name' | translate }}"></td>
                                    <td><input type="text" size=10 name="lastName"
                                               ng-model="physician.lastName"
                                               placeholder="{{ 'Last Name' | translate }}"></td>
                                    <td><input type="text" size=10 name="practice" id="practice"
                                               ng-model="physician.practice"
                                               placeholder="{{ 'Practice' | translate }}"></td>
                                    <td>
                                        <button type="submit">+</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>

                    <button ng-show="!view.addPhysicianShow" type="button" class="btn btn-info btn-rounded"
                            ng-click="toggleAddPhysicianShow()">Add a physician
                    </button>
                    <button ng-show="view.addPhysicianShow" type="button" class="btn btn-info btn-rounded"
                            ng-click="toggleAddPhysicianShow()">Cancel
                    </button>

                </div>
            </div>
            <!--End Physician Panel-->
        </div>
    </div>





        <!--Medication Panel-->
        <div class="row home-row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Medications
                            <div class="panel-control pull-right"></div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form name="newMedicationForm" role="form" ng-submit="createMedication(medication)">
                        <div class="form-content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Prescription Name</th>
                                <th>Patient</th>
                                <th>Physician</th>
                                <th>Refills</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="medication in medications" ui-sref="medication({medicationId: medication.medicationId})">
                                <td>{{medication.rxName}}</td>
                                <td>{{medication.patientName}}</td>
                                <td>{{medication.physicianName}}</td>
                                <td>{{medication.refills}}</td>
                            </tr>
                            <tr ng-show="view.addMedicationShow">
                                <td><input type="text" size="10" name="rxName"
                                           ng-model="medication.rxName"
                                           placeholder=" {{ 'rx Name' | translate }}"></td>
                                <td><input type="text" size=10 name="lastName"
                                           ng-model="medication.firstName"
                                           placeholder="{{ 'Patient' | translate }}"></td>
                                <td>
                                    <!--<input type="text" size=10 name="physician" id="physician"-->
                                           <!--ng-model="medication.physician"-->
                                           <!--placeholder="{{ 'Physician' | translate }}">-->
                                    <select  ng-options="physician as physician.lastName for physician in physicians track by physician.id" ng-model="medication.physicianId">
                                    </select>
                                </td>
                                <td><input type="text" size=10 name="refills" id="refills"
                                           ng-model="medication.refills"
                                           placeholder="{{ 'Yes or No' | translate }}"></td>
                                <td>
                                    <button type="submit">+</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                            </form>
                        <button ng-show="!view.addMedicationShow" type="button" class="btn btn-info btn-rounded"
                                ng-click="toggleAddMedicationShow()">Add a medication
                        </button>
                        <button ng-show="view.addMedicationShow" type="button" class="btn btn-info btn-rounded"
                                ng-click="toggleAddMedicationShow()">Cancel
                        </button>

                    </div>
                </div>
            </div>
            <!-- end medication panel -->

            <!--Notes Panel-->
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Recent Notes
                            <div class="panel-control pull-right">
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date Added</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="note in notes">
                                <td>{{note.title}}</td>
                                <td>{{note.dateAdded}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel 4 -->





        </div>
    </div>

