<div class="conter-wrapper home-container">
    <div class="row home-row">

        <!--Group Panel-->
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Group: {{groupData.group.name}}
                        <div class="panel-control pull-right"></div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="newMemberForm" role="form" ng-submit="createPerson(newMember)">
                        <div class="form-content">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date Added</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="member in groupData.members">
                                    <td>{{member.person.firstName}}</td>
                                    <td>{{member.person.lastName}}</td>
                                    <td>{{member.dateAdded}}</td>
                                </tr>


                                <tr ng-show = "view.addPersonShow">
                                    <td><input type="text" size="10" name="firstName"
                                               ng-model="newMember.person.firstName"
                                               placeholder=" {{ 'First Name' | translate }}"></td>
                                    <td><input type="text" size=10 name="lastName" id="lastName"
                                               ng-model="newMember.person.lastName"
                                               placeholder="{{ 'Last Name' | translate }}"></td>
                                    <td>
                                       <button type="submit">+</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>

                        <button ng-show="!view.addPersonShow" type="button" class="btn btn-info btn-rounded" ng-click="toggleAddPersonShow()">Add a person</button>
                        <button ng-show="view.addPersonShow" type="button" class="btn btn-info btn-rounded" ng-click="toggleAddPersonShow()">Cancel</button>

                </div>
            </div>
        </div>

        <!--Physician Panel-->

        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Physicians
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Practice</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Regina</td>
                            <td>Lurie</td>
                            <td>Pediatrics</td>
                        </tr>
                        <tr>
                            <td>Sara</td>
                            <td>Logan</td>
                            <td>Dental</td>
                        </tr>
                        <tr>
                            <td>Gregg</td>
                            <td>Lindsey</td>
                            <td>Orthodontics</td>
                        </tr>
                        </tbody>
                    </table>
                    <a ui-sref="addphysician({name: person.name})">
                        <button type="button" class="btn btn-info btn-rounded">Add a physician</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row home-row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Medications
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Prescription Name</th>
                            <th>Patient</th>
                            <th>Physician</th>
                            <th>Refills</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Amoxicillin</td>
                            <td>Carter</td>
                            <td>Lurie</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Minocycline</td>
                            <td>Quinlan</td>
                            <td>Milobsky</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Flonase</td>
                            <td>Jon</td>
                            <td>Franks</td>
                            <td>No</td>
                        </tr>
                        </tbody>
                    </table>
                    <a ui-sref="addmedication">
                        <button type="button" class="btn btn-info btn-rounded">Add a medication</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Notes
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Topic</th>
                            <th>Patient</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Make Follow-Up Appointment</td>
                            <td>Dentist</td>
                            <td>Carter</td>
                        </tr>
                        <tr>
                            <td>Call for refill</td>
                            <td>Pediatrician</td>
                            <td>Quinlan</td>
                        </tr>
                        <tr>
                            <td>Check on test results</td>
                            <td>Primary Care</td>
                            <td>Jon</td>
                        </tr>
                        </tbody>
                    </table>
                    <a ui-sref="addnote">
                        <button type="button" class="btn btn-info btn-rounded">Add a note</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

