<pageheader pagename="medication"></pageheader>
<div class="conter-wrapper">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Medication:  {{medication.rxName}}
                        <div class="panel-control pull-right">
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Medication Name: {{medication.rxName}}</li>
                        <li class="list-group-item">Prescription Number: {{medication.rxNumber}}</li>
                        <li class="list-group-item">Quantity in Medication: {{medication.rxQuantity}}</li>
                        <li class="list-group-item">Prescription Date: {{medication.rxDate |  date:'MM/dd/yyyy'}}</li>
                        <li class="list-group-item">Refills: {{medication.refills}}</li>
                    </ul>
                    <div class="panel-btn">
                        <button ui-sref="addmedication({medicationId: medication.id})" type="button"
                                class="btn btn-primary pull-left btn-rounded">
                            Update Medication Info
                        </button>
                        <button type="button" class="btn btn-primary pull-right btn-rounded" ng-click="deleteMedication(medication)">
                            Delete Medication
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patient
                            <div class="panel-control pull-right">
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">{{medication.person.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <item-notes target-type="MEDICATION" target-id="{{medication.id}}"></item-notes>
