<pageheader pagename="person"></pageheader>
<div class="conter-wrapper">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Person:  {{currentPerson.name}}
                        <div class="panel-control pull-right">
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Date of Birth: {{currentPerson.birthDate |  date:'MM/dd/yyyy'}}</li>
                        <li class="list-group-item">Insurance Carrier: {{currentPerson.insurance}}</li>
                        <li class="list-group-item">Insurance Policy Info: {{currentPerson.insurancePolicy}}</li>
                        <li class="list-group-item">Allergies: {{currentPerson.allergy}}</li>
                        <li class="list-group-item">Chronic Conditions: {{currentPerson.condition}}</li>
                        <li class="list-group-item">Surgeries: {{currentPerson.surgery}}</li>
                        <li class="list-group-item">Hospitalizations: {{currentPerson.hospital}}</li>
                    </ul>
                    <div class="panel-btn">
                        <button ui-sref="addperson({personId: currentPerson.id})" type="button"
                                class="btn btn-primary pull-left btn-rounded">
                            Update Person Info
                        </button>
                    </div>
                </div>
            </div>
        </div>


            <item-notes target-type="PERSON" target-id="{{person.id}}"></item-notes>
