<pageheader pagename="physician"></pageheader>
<div class="conter-wrapper">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{physician.firstName}} {{physician.lastName}}
                        <div class="panel-control pull-right">
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Practice: {{physician.practice}}</li>
                        <li class="list-group-item">Email Address:</li>
                        <li class="list-group-item">Phone Number:</li>
                        <li class="list-group-item">Address:</li>
                    </ul>
                    <div class="panel-btn">
                        <button ui-sref="addphysician({physicianId: physician.id})" type="button"
                                class="btn btn-primary pull-left btn-rounded">
                            Update Physician Info
                        </button>
                        <button type="button" class="btn btn-primary pull-right btn-rounded" ng-click="">
                            Delete Physician
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Patients
                            <div class="panel-control pull-right">
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li ng-repeat="patient in physician.patients" class="list-group-item">{{patient.person.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notes
                            </h3>
                            <!--<div class="panel-control pull-right">-->

                            <!--</div>-->
                            <button ui-sref="addphysnote({physicianId: physician.id}) " type="button"
                                    class="btn btn-primary pull-right btn-rounded">
                                Add Note
                            </button>
                        </div>
                        <div class="panel-body" ng-repeat="note in physician.notes">
                            <div class="panel-body">
                                <h4>{{note.title}}</h4>
                                <h4>{{note.dateAdded}}</h4>
                                <p>{{note.text}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


